* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media screen and (max-width: 960px) {
    
    body{
        background-color: dodgerblue;
    }
}

@media screen and (max-width: 600px) {
    
    body{
        background-color: seagreen;
    }
}